/Data/963miRXplore_data/D18_filtered_NN_removed_fa/
/Data/963miRXplore_data/D18_NN_removed_fa/
/Data/963miRXplore_data/D18_filtered_NN_removed_raw_fq/
/Data/963miRXplore_data/corrected/
/Data/963miRXplore_data/D18_NN_removed_raw_fq/
/Data/963miRXplore_data/D18_raw_fq/
/Data/963miRXplore_data/output/countD18_8_20/
/Data/963miRXplore_data/output/countD19_8_20/
/Data/963miRXplore_data/corrected/D18_miREC_8_20/
/Data/963miRXplore_data/corrected/D19_miREC_8_20/
.gitignore
./Verify_963miRXploreData/runD19820.py
./Verify_963miRXploreData/runD18820.py
./Verify_963miRXploreData/miRECD18820.sh
./Verify_963miRXploreData/miRECD19820.sh
./Verify_963miRXploreData/__pycache__/
./Data/963miRXplore_data/archive/
./Data/963miRXplore_data/output/