/Data/Verify_by963miRXploreData/D18_filtered_NN_removed_fa/
/Data/Verify_by963miRXploreData/D18_NN_removed_fa/
/Data/Verify_by963miRXploreData/D18_filtered_NN_removed_raw_fq/*
/Data/Verify_by963miRXploreData/corrected/
/Data/Verify_by963miRXploreData/D18_NN_removed_raw_fq/*
/Data/Verify_by963miRXploreData/D18_raw_fq/*
.gitignore
/Data/Verify_by963miRXploreData/